.navbar{
    position: relative;
}

/*  */
.gallery-banner{
    height: 60vh;
    width: 100%;
    background-image: url(../Images/ourgallery.jpg); 
    background-size: cover;
    background-position:center;
display: flex;
color: white;
font-size: 30px;
align-items: center;
justify-content: center;
}

/*  */
.our-gallery{
    height: auto;
    width: auto;
    background-image: url(../Images/background-1.jfif);
}
#small-box{
    height: auto;
    width: auto;
    border: solid brown;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#small-box::after {
    content: "";
    clear: both;
    display: table;
  }

.imgx{
    border-radius: 12px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.plus{ 
    opacity: 0;
}
.plus button{
    background-color: transparent;
    font-size: 60px;
    color: white;
}
.imgx:hover{
    transform: scale(1.1);
    transition:1.25s;
}
.imgx:hover  .plus{
    opacity: 1;
}
#i1{
    background-image: url(../Images/galleryimages/pexels-foodie-factor-551997.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i2{
    background-image: url(../Images/galleryimages/pexels-janko-ferlic-590477.jpg);
    background-size: contain;
    
    height: 300px;
    width: 245px;
    margin: 15px;
}#i3{
    background-image: url(../Images/galleryimages/pexels-kaboompics-com-5878.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i4{
    background-image: url(../Images/galleryimages/pexels-kaboompics-com-6461.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}#i5{
    background-image: url(../Images/galleryimages/pexels-ksenia-chernaya-4450334.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}#i6{
    background-image: url(../Images/galleryimages/pexels-pixabay-2424.jpg);
    background-size: contain;
    
    height: 300px;
    width: 225px;
    margin: 15px;
}
#i7{
    background-image: url(../Images/galleryimages/pexels-pixabay-371776.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}#i8{
    background-image: url(../Images/galleryimages/pexels-pixabay-533347.jpg);
    background-size: contain;
    
    height: 300px;
    width: 200px;
    margin: 15px;
}#i9{
    background-image: url(../Images/galleryimages/pexels-rene-asmussen-1581384.jpg);
    background-size: contain;
    
    height: 300px;
    width: 225px;
    margin: 15px;
}#i22{
    background-image: url(../Images/galleryimages/i10.jpg);
    background-size: contain;
    
    height: 300px;
    width: 225px;
    margin: 15px;
}
#i_11{
    background-image: url(../Images/galleryimages/i11.jpg);
    background-size: contain;
    
    height: 300px;
    width: 200px;
    margin: 15px;
}
#i12{
    background-image: url(../Images/galleryimages/i12.jpg);
    background-size: contain;
    
    height: 300px;
    width: 225px;
    margin: 15px;
}
#i20{
    background-image: url(../Images/galleryimages/i13.jpg);
    background-size: contain;
    
    height: 300px;
    width: 200px;
    margin: 15px;
}
#i14{
    background-image: url(../Images/galleryimages/14.jpg);
    background-size: contain;
    
    height: 300px;
    width: 200px;
    margin: 15px;
}
#i15{
    background-image: url(../Images/galleryimages/15.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}

#i16{
    background-image: url(../Images/galleryimages/16.jpg);
    background-size: contain;
    
    height: 300px;
    width: 380px;
    margin: 15px;
}
#i17{
    background-image: url(../Images/galleryimages/17.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i_21{
    background-image: url(../Images/galleryimages/18.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i19{
    background-image: url(../Images/galleryimages/19.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i13{
    background-image: url(../Images/galleryimages/20.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}
#i18{
    background-image: url(../Images/galleryimages/21.jpg);
    background-size: contain;
    
    height: 300px;
    width: 200px;
    margin: 15px;
}
#i10{
    background-image: url(../Images/galleryimages/22.jpg);
    background-size: contain;
    
    height: 300px;
    width: 450px;
    margin: 15px;
}












/* big image */

.imgr{
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.minus{ 
    opacity: 0;
}
.minus button{
    background-color: transparent;
    font-size: 60px;
    color: white;
}
.imgr:hover{
    transform: scale(0.9);
    transition: 1.25s;
}
.imgr:hover  .minus{
    
    opacity: 1;
}

.large{
    background-image: url(../Images/background-1.jfif);
    display: flex;
    justify-content: center;
    align-items: center;
}

#i11{
    background-image: url(../Images/galleryimages/pexels-foodie-factor-551997.jpg);
    background-size: contain;
    height: 600px;
    width: 900px;
}

#i21{
    background-image: url(../Images/galleryimages/pexels-janko-ferlic-590477.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}#i31{
    background-image: url(../Images/galleryimages/pexels-kaboompics-com-5878.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}
#i41{
    background-image: url(../Images/galleryimages/pexels-kaboompics-com-6461.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}#i51{
    background-image: url(../Images/galleryimages/pexels-ksenia-chernaya-4450334.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}#i61{
    background-image: url(../Images/galleryimages/pexels-pixabay-2424.jpg);
    background-size: contain;
    
    height: 600px;
    width: 450px;
    margin: 15px;
}
#i71{
    background-image: url(../Images/galleryimages/pexels-pixabay-371776.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}#i81{
    background-image: url(../Images/galleryimages/pexels-pixabay-533347.jpg);
    background-size: contain;
    
    height: 600px;
    width: 400px;
    margin: 15px;
}#i91{
    background-image: url(../Images/galleryimages/pexels-rene-asmussen-1581384.jpg);
    background-size: contain;
    
    height: 600px;
    width: 450px;
    margin: 15px;
}

#i221{
    background-image: url(../Images/galleryimages/i10.jpg);
    background-size: contain;
    
    height: 600px;
    width: 450px;
    margin: 15px;
}
#i_111{
    background-image: url(../Images/galleryimages/i11.jpg);
    background-size: contain;
    
    height: 600px;
    width: 400px;
    margin: 15px;
}
#i121{
    background-image: url(../Images/galleryimages/i12.jpg);
    background-size: contain;
    
    height: 600px;
    width: 450px;
    margin: 15px;
}
#i201{
    background-image: url(../Images/galleryimages/i13.jpg);
    background-size: contain;
    
    height: 600px;
    width: 400px;
    margin: 15px;
}
#i141{
    background-image: url(../Images/galleryimages/14.jpg);
    background-size: contain;
    
    height: 600px;
    width: 400px;
    margin: 15px;
}
#i151{
    background-image: url(../Images/galleryimages/15.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}

#i161{
    background-image: url(../Images/galleryimages/16.jpg);
    background-size: contain;
    
    height: 600px;
    width: 760px;
    margin: 15px;
}
#i171{
    background-image: url(../Images/galleryimages/17.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}
#i_211{
    background-image: url(../Images/galleryimages/18.jpg);
    background-size: contain;
    
    height: 600px;
    width: 950px;
    margin: 15px;
}
#i191{
    background-image: url(../Images/galleryimages/19.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}
#i131{
    background-image: url(../Images/galleryimages/20.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}
#i181{
    background-image: url(../Images/galleryimages/21.jpg);
    background-size: contain;
    
    height: 600px;
    width: 400px;
    margin: 15px;
}
#i101{
    background-image: url(../Images/galleryimages/22.jpg);
    background-size: contain;
    
    height: 600px;
    width: 900px;
    margin: 15px;
}


/*  */
.testimonial{
height: 45vh;
border: solid grey;
}