*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.hero *{
    z-index: 10;
}
.hero{
    background-image: url('/Friends-Restraunt/Images/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}
.hero .content{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

.hero .content h1{
    color: #fff;
    font-size: 50px;
}

.hero .content p{
    color: #fff;
    font-size: 20px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #ff6f3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 3px 2px  #8a3f24;
}

.btn:hover{
    opacity: 0.8;
}
.hero:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}


.social{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    top:45% ;
    left: 0%;
    position: fixed;
}
.social a{
    color: white;
    margin-bottom: 3px;
    
    border-radius: 6px;
}
.social a i{
    margin:8px;
    font-size: 20px;
}
.social a i:hover{
    color: #ff6f3c;
}
.social a:hover{
    background-color: white;
    color: tomato;
}
.i1{
    background-color: blue;
}
.social .i2{
    background-color: skyblue;
}
.social .i3{
    background-color: red;
}
.social .i4{
    background-color:steelblue;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid white; */
    margin-top:210px ;
    height: 80px;
}
.special ,
.offers{
    border: 2px solid #8a3f24;
    background: #ff6f3c;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 1px #8a3f24 ;

}
.special a ,
.offers a{
   text-decoration: none;
   color: white;
}
.chv{
    /* border: 2px solid #8a3f24; */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special:hover ,
.offers:hover{
    opacity: 0.8;
}

#main{
    display: flex;
    justify-content: center;
}
.box {
    margin:30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 10px 1px #ccc;
}

.box .box-1{
    display: flex;
    flex-direction: row;
    padding: 50px;
    border-bottom: 1px solid rgb(250, 249, 249);
    /* border-style: dotted; */

}
.box .box-2{
    display: flex;
    flex-direction: row-reverse;
    padding: 50px;
}
.para{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 80px;
    line-height: 1.5rem;
}
.box-1 img
{
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 300px;
    border-radius: 2px;
    box-shadow: 70px 30px rgb(248, 243, 243);
}
.box-2 img{
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 300px;
    border-radius: 2px;
    box-shadow: -70px -30px rgb(236, 236, 236);
}
