
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background:#333;
    /* background:transparent; */
    opacity: 0.8;
    position:fixed;
    width: 100%;
    background: transparent;
    /* border:2px solid red ; */   
}
.navbar *{
    z-index: 1;
}
.nav ul{
    display: flex;
}
.nav ul li{
    margin: 10px;
    padding: 20px;
    list-style: none;
}
.nav ul li a{
    color: #ffff;
    text-decoration: none;
    /* font-size: 0px; */
}

.logo{
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 1px orange ;
}
span{
    font-size: 40px;
    color: #ff6f3c;
    font-family: 'Satisfy', cursive;
}