#welcome {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.9;
}
#logo{
    height: 200px;
    width: 200px;
    padding-bottom: 0%;
    padding-top: 30px;
}
.discription{
    /* background: linear-gradient(40deg, #155263 8%, #155263 43%, #FF6F3C calc(43% + 1px), #FF6F3C 52%, #FF9A3C calc(52% + 1px), #FF9A3C 80%, #FFC93C calc(80% + 1px), #FFC93C 100%);            height: 450px; */
    opacity: 0.9;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px ;
    text-align: center;
   
    overflow:inherit;
}
h1{
    font-size: 40px;
    color: white;
    /* padding-top: 20px; */
}
button{
    background: linear-gradient(70deg, #F9ED69 0%, #F9ED69 50% );
    color: red;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    height: 50px;
    margin-top:0px;
    padding-top: 0px;
}
h2{
    background-color: burlywood;
    border: 5px solid #ff6f3c;
    border-radius: 50%;
    height: 90px;
    margin-top:0px;
    padding-top: 0px;
    color: white;
    font-size: 70px;
    padding-bottom: 0%;
    /* margin-bottom: ; */
}
button:hover{
    cursor: pointer;
    color: white;
    background: #FF6F3C ;
}
h3{
    font-size:35px ;
    margin-top: 0%;
    padding-top: 0%;
    color: white;
    font-family: 'Akaya Telivigala', cursive;
}
span{
    color:#FF6F3C;
}