*{
 margin: 0px;
 padding:0px;   
}#welcome {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.9;
}
#transbox{
    background-color:black;
    opacity: 0.7;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 200px;
    width: 200px;
    padding-bottom: 0%;
    padding-top: 30px;
}
.discription{
    opacity: 1;
    max-width: 1000px;
    margin: auto;
    /* margin-top: 50px ; */
    text-align: center;
    overflow:inherit;
}
h2{
    font-size: 65px;
    color: rgb(241, 169, 169);
    font-weight: lighter;
}
button{
    background: linear-gradient(70deg, #e08e80 0%, #d33302 50% );
    color:rgb(34, 33, 33);
    font-size: 20px;
    width: 150px;
    border-radius: 12px;
    box-shadow:2px 2px 2px rgb(190, 71, 31) ;
     border: transparent;
    height: 50px;
    margin-top:0px;
    padding-top: 0px;
}
button:hover{
    cursor: pointer;
    color: white;
    background: #FF6F3C ;
}
h3{
    font-size:25px ;
    margin-top: 0%;
    padding-top: 0%;
    color: white;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: lighter;
}
span{
    color:#FF6F3C;
}


#lo{
    font-size: 100px;
    color: #ff6f3c;
    font-family: 'Satisfy', cursive;
}
#and{
    
    font-size: 70px;
    color: white;
}
.con{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}